.progress {
	ul {
		margin: 0;
		padding: 0 5px;
		list-style: none;
	}
	display: none;
	position: absolute;
	z-index: 200;
	width: auto;
	border: thin solid #ececec;
	background-color: rgba(246, 246, 246, 0.97);
}

#TableOfContents {
	max-height: 85vh;
	padding: 15px !important;
	overflow: auto;
	font-size: 13px !important;

	>ul {
		>li {
			>ul {
				>li {
					>ul {
						li {
							margin-right: 8px;
						}

						>li {
							>ul {
								>li {
									>ul {
										>li {
											display: none;
										}
									}
								}
							}
						}
					}

					>a {
						font-weight: bold;
					}
				}
			}

			>a {
				margin: 0 2px;
				padding: 0 18px;
				font-weight: bold;
			}
		}
	}
}

body {
	color: #323232 !important;
	font-size: 16px !important;
}

#body {
	a.highlight {
		display: inline-block;
		outline: none;
		outline: 0;
		line-height: 1.1;
		text-decoration: none;

		&:hover {
			outline: none;
			outline: 0;
			text-decoration: none;

			&:after {
				width: 100%;
			}
		}

		&:focus {
			outline: none;
			outline: 0;
			text-decoration: none;

			&:after {
				width: 100%;
			}
		}

		&:after {
			content: '';
			display: block;
			width: 0%;
			height: 1px;
			transition: width 0.5s ease;
			background-color: #0082a7;
		}
	}
}

#toc-menu {
	margin-right: 0.5rem !important;
	padding-right: 1rem !important;
	border-right: thin solid #dad8d8 !important;
}

.btn {
	display: inline-block !important;
	margin-bottom: 0 !important;
	padding: 6px 12px !important;
	transition: all 0.15s !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	background-image: none !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 1.42857143 !important;
	vertical-align: middle !important;
	white-space: nowrap !important;
	cursor: pointer !important;
	user-select: none !important;
	touch-action: manipulation !important;

	&:focus {
		outline: none !important;
		color: #2b2b2b !important;
		text-decoration: none !important;
	}

	&:hover {
		color: #2b2b2b !important;
		text-decoration: none !important;
	}
}

.btn-default {
	border-color: #cccccc !important;
	background-color: #ffffff !important;
	color: #333333 !important;

	&:hover {
		border-color: #9e9e9e !important;
		background-color: #9e9e9e !important;
		color: #ffffff !important;
	}

	&:focus {
		border-color: #9e9e9e !important;
		background-color: #9e9e9e !important;
		color: #ffffff !important;
	}

	&:active {
		border-color: #9e9e9e !important;
		background-color: #9e9e9e !important;
		background-image: none !important;
		color: #ffffff !important;
	}
}

.anchor {
	visibility: hidden;
	position: absolute;
	margin-top: 0.1em;
	margin-left: 0.5em;
	color: #00bdf3;
	font-size: 0.5em;
	cursor: pointer;
}

h2 {
	&:hover {
		.anchor {
			visibility: visible;
		}
	}
	margin: 2.5rem 0 1.5rem;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.1;
	line-height: 110% !important;

	a {
		font-weight: inherit;
	}
}

h3 {
	&:hover {
		.anchor {
			visibility: visible;
		}
	}
	margin: 2rem 0 1rem;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.1;
	line-height: 110% !important;

	a {
		font-weight: inherit;
	}
}

h4 {
	&:hover {
		.anchor {
			visibility: visible;
		}
	}
	margin: 1.5rem 0 0.75rem;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.1;
	line-height: 110% !important;

	a {
		font-weight: inherit;
	}
}

h5 {
	&:hover {
		.anchor {
			visibility: visible;
		}
	}
	margin: 1rem 0 0.2rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.1;
	line-height: 110% !important;

	a {
		font-weight: inherit;
	}
}

h6 {
	&:hover {
		.anchor {
			visibility: visible;
		}
	}
	margin: 0.5rem 0 0.2rem;
	font-size: 0.5rem;
	font-weight: 400;
	line-height: 1.1;
	line-height: 110% !important;

	a {
		font-weight: inherit;
	}
}

h1 {
	a {
		font-weight: inherit;
	}
}

p {
	margin: 1rem 0;
}

figcaption {
	h4 {
		margin-top: -1.5em;
		opacity: .85;
		font-size: 1em;
		font-weight: 300 !important;
		text-align: center;
	}
}

.select-style {
	display: inline-flex;
	width: 150px;
	overflow: hidden;
	border: 0;
	border-radius: 0;

	svg {
		width: 14px;
		height: 14px;
		margin: auto;
		fill: #cccccc;
		pointer-events: none;

		&:hover {
			fill: #e6e6e6;
		}
	}

	select {
		width: 130%;
		margin: auto;
		margin-right: -20px;
		margin-left: 0;
		padding: 0;
		border: none;
		background: transparent;
		background-image: none;
		box-shadow: none;
		-webkit-appearance: none;

		&:focus {
			outline: none;
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.is-sticky {
	#top-bar {
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
	}
}
@media only all and (max-width: 47.938em) {
	#breadcrumbs {
		.links {
			display: none;
		}
	}

	#top-github-link-text {
		display: none;
	}
}
