$purple: #8246af;
$yellow: #ffa300;
$grey_light: #abb8c3;
$grey_dark: #313131;

$primary: $purple;
$secondary: $yellow;
$neutral: #272822;

$font_main: Raleway, Calibri, Arial, sans-serif;
$font_code: 'Source Code Pro', monospace;
