@font-face {
	font-family: 'Raleway';
	font-style: normal;
	src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: italic;
	src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/SourceCodePro-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/SourceCodePro-BoldItalic.ttf') format('truetype');
}
